.words {
    position: relative;
    text-align: left;
    left:0;
    white-space: pre;
    padding-right: 45px;
    padding-left: 15px;

}
.words p {
    top: 5px;
}
.photo {
    right: 0;
    justify-content: right;
    margin: 0;
    image-rendering: auto;
}

.photo .img
{
    border-radius: 10px;
    border-color: black;
    border-style: double;
    justify-content: right;
}

/* Split the screen in half */
.split {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 1vh;
    width: 70%;
    padding-top: 10px;
    position: relative;
    margin: 0;
  }

  @media screen and (max-width: 900px) 
{
    footer {
        font-size: medium;
    }

    header {
        font-size: 200%;
    }

    .navbar {
        font-size: 125%;
    }

    p {
        font-size: small;
    }

    .photo .img {
        width: 250px;
        height: 350px;
    }
    .split
    {
        flex-direction: column;
    }
}
  