.pics
{
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 50px;
}

.pics .photo :hover
{
    transform: scale(1.5);
}

figcaption
{
    font-size: medium;
}

p{
    text-align: center;
    font-size: x-large;
    justify-content: center;
}

@media screen and (max-width: 900px)
{
    .pics
    {
        flex-direction: column;
    }
    
    footer {
        font-size: medium;
    }

    header {
        font-size: 200%;
    }

    .navbar {
        font-size: 125%;
    }
}