.pics
{
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 50px;
}

.pics .photo :hover
{
    transform: scale(1.5);
}

figcaption
{
    font-size: medium;
}

p{
    text-align: center;
    font-size: x-large;
    justify-content: center;
}

form
{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1200px)
{
    .pics
    {
        flex-direction: column;
        padding-top: 10px;
        justify-content: flex-end;
        align-self: center;
    }
    footer {
        font-size: medium;
    }

    header {
        font-size: 200%;
    }

    .navbar {
        font-size: 125%;
    }

    p {
        font-size: medium;
    }
    form{
        padding-bottom: 100px;
    }
}