body{
    background-color: limegreen;
    margin: 0x;
    margin-left: 0x;
}
h1{
    font-family: sans-serif;
}

p1 {
    font-family: serif;
}
header {
    border-style: double;
    border-radius: 3px;
    border-color: black;
    background-color: springgreen;
    width: 100%;
    height: 25%;
    margin: 0px;
    font-size: 400%;
    text-align: center;
    font-family: cursive;
}
.navbar {
   overflow: hidden;
   margin: 0x;
   background-color: springgreen;
   color:black;
   position: fixed;
   top: 14%;
   width: 99%;
   height: 7.5%;
   font-size: 250%;
   text-align: left;
   justify-content: left;
   float: left;
   border-style: dashed;
   border-radius: 3px;

}
.navbar .img {
    width: auto;
    height: 10%;
    justify-content: right;
    
}
a
{
    color: black;
    padding: 12px;
    text-align: center;
}
a:visited {
    color: black;
    text-align: center;
}
.navbar a:hover {
    background: black;
    color: limegreen;
  }