body{
    background-color: limegreen;
}
h1{
    font-family: sans-serif;
}

p1 {
    font-family: serif;
}

.navbar {
   overflow: hidden;
   margin: 0;
   background-color: white;
   color:black;
   position: fixed;
   top: 0;
   width: 100%;
   height: 7.5%;
   font-size: 250%;
   text-align: left;
   justify-content: left;

}
.navbar .img {
    width: auto;
    height: 10%;
    justify-content: right;
    
}
a
{
    color: black;
    padding: 12px;
    text-align: center;
}
a:visited {
    color: black;
    text-align: center;
}
.navbar a:hover {
    background: black;
    color: limegreen;
  }